<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container"></div>
    <h1></h1>
    <form action="/budget">
      <input type="submit" value="Back" />
    </form>
    <dl>
      <dt>date</dt>
      <dd><%= budget.date %></dd>
      <dt>name</dt>
      <dd><%= budget.name %></dd>
      <dt>from</dt>
      <dd><%= budget.from %></dd>
      <dt>amount</dt>
      <dd><%= budget.amount %></dd>
      <dt>tags</dt>
      <dd><%= budget.tags %></dd>
    </dl>
  </body>
</html>
